# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# nyc
.nyc_output

# installers
build

# TODO files
TODO
WORKFLOW
results
