# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# nyc
.nyc_output

coverage

# installers
build
dist
artifacts

# TODO files
scrapping fields
SCOPES.md
RELEASE.md
TODO
WORKFLOW
results
ACM DL scrapping
GUI
.actrc
event.json
